.article-detail-container {
    display: flex;
    margin-top: 2%;
}


.detail-image {
    height: 85vh;
    width: 50%;
}

.info-container {
    height: 100%;
    width: 50%;
}

@media screen and (max-width: 550px) {
    .article-detail-container {
        flex-direction: column;
        align-items: center;
    }
}