.article-card {
    border: 1px solid black;
    border-radius: 3%;
    width: 30%;
    background-color: gray;
    margin-bottom: 1%;
    margin-top: 1%;
}

.article-image {
    height: 25%;
    width: 30%;
}

@media screen and (max-width: 1086px) {
    .article-card {
        width: 45%;
    }
}

@media screen and (max-width: 500px) {
    .article-card {
        width: 90%;
    }
}